--extra-index-url https://download.pytorch.org/whl/cu117
torch==1.13.1+cu117 
--extra-index-url https://download.pytorch.org/whl/cu117
torchvision==0.14.1+cu117 
compressai
einops
matplotlib==3.5.3
numpy
pytorch-msssim==1.0.0
scipy

